# Dependencies
/vendor
/node_modules
composer.lock

# IDE
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Testing
/.phpunit.cache
/build
coverage.xml

# Build
/public/hot
/public/storage

# Demo app
/demo/bootstrap/cache
/demo/storage/logs
/demo/.env
/demo/node_modules
